body{
    background-color: #FAFAFA;
}
.border-top{
    border-top:1px solid #000000 !important;
}
.table{
    color:#818181 
}
.img-size{
    width:150px;
    height: 200px;
    display: block;
    object-fit: cover;
}
.p-6{
    padding: 2.5rem  0.5rem !important;
}

.form-check-input:checked {
    background-color: #818181;
    border-color: #818181;
}
.deleteBtn{
    color:#818181;
}
.deleteBtn:hover{
    color:#464545;
}